<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} </title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="container">
	{{ content }}
	</div>
	<div class="nav">
		<ul>
			<li class="active"><a href="https://ayesha-raza.github.io/7-3-3_Project/viz1.html">Visual 1</a></li>
			<li><a href="https://ayesha-raza.github.io/7-3-3_Project/viz2.html">Visual 2</a></li>
			<li><a href="https://ayesha-raza.github.io/7-3-3_Project/viz3.html">Visual 3</a></li>
		</ul>
	</div>
</div>
</body>
</html
